<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Instruments</key>
	<dict>
		<key>AHSRL</key>
		<dict>
			<key>type</key>
			<string>HSRL</string>
			<key>datasets</key>
			<array>
				<string>lidar</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>bscat_depol</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>bscat</string>
					<key>name</key>
					<string>Backscatt</string>
				</dict>
				<dict>
					<key>prefix</key>
					<string>depol</string>
					<key>name</key>
					<string>Depol</string>
				</dict>
			</array>
		</dict>
		<key>MF2HSRL</key>
		<dict>
			<key>type</key>
			<string>HSRL</string>
			<key>datasets</key>
			<array>
				<string>lidar</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>bscat_depol</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>bscat</string>
					<key>name</key>
					<string>Backscatt</string>
				</dict>
				<dict>
					<key>prefix</key>
					<string>depol</string>
					<key>name</key>
					<string>Depol</string>
				</dict>
			</array>
		</dict>
		<key>NSHSRL</key>
		<dict>
			<key>type</key>
			<string>HSRL</string>
			<key>datasets</key>
			<array>
				<string>lidar</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>bscat_depol</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>bscat</string>
					<key>name</key>
					<string>Backscatt</string>
				</dict>
				<dict>
					<key>prefix</key>
					<string>depol</string>
					<key>name</key>
					<string>Depol</string>
				</dict>
			</array>
		</dict>
		<key>MMCR</key>
		<dict>
			<key>type</key>
			<string>MMCR</string>
			<key>datasets</key>
			<array>
				<string>merge</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>radar_bscat</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>radar_bscat</string>
					<key>name</key>
					<string>Backscatt</string>
				</dict>
			</array>
		</dict>
		<key>PAERI</key>
		<dict>
			<key>type</key>
			<string>AERI</string>
			<key>datasets</key>
			<array>
				<string>paeri0</string>
				<string>paeri1</string>
				<string>paeri2</string>
				<string>paeri1pca</string>
				<string>paeri2pca</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>aeri</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>aeri</string>
					<key>name</key>
					<string>Spectrum</string>
				</dict>
			</array>
		</dict>
		<key>MWR</key>
		<dict>
			<key>name</key>
			<string>MWR</string>
			<key>datasets</key>
			<array>
				<string>mwr</string>
			</array>
			<key>rawdatasets</key>
			<array>
				<string>mwr_native</string>
				<string>mwr_lv0</string>
				<string>mwr_lv1</string>
				<string>mwr_lv2</string>
				<string>mwr_tip</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>mwr</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>mwr</string>
					<key>name</key>
					<string>Liquid Water</string>
				</dict>
			</array>
		</dict>
		<key>Radiosonde</key>
		<dict>
			<key>name</key>
			<string>radiosonde</string>
			<key>datasets</key>
			<array>
				<string>radiosonde</string>
			</array>
			<key>thumbsets</key>
			<array/>
			<key>imagesets</key>
			<array/>
			<key>platformSensitive</key>
			<false/>
		</dict>
		<key>RIG</key>
		<dict>
			<key>name</key>
			<string>RIG</string>
			<key>datasets</key>
			<array>
				<string>rig</string>
			</array>
			<key>thumbsets</key>
			<array/>
			<key>imagesets</key>
			<array/>
		</dict>
		<key>GVHSRL</key>
		<dict>
			<key>type</key>
			<string>HSRL</string>
			<key>datasets</key>
			<array>
				<string>lidar</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>bscat_depol</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>bscat</string>
					<key>name</key>
					<string>Backscatt</string>
				</dict>
				<dict>
					<key>prefix</key>
					<string>depol</string>
					<key>name</key>
					<string>Depol</string>
				</dict>
			</array>
		</dict>
		<key>BagoHSRL</key>
		<dict>
			<key>type</key>
			<string>HSRL</string>
			<key>datasets</key>
			<array>
				<string>lidar</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>bscat_depol</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>bscat</string>
					<key>name</key>
					<string>Backscatt</string>
				</dict>
				<dict>
					<key>prefix</key>
					<string>depol</string>
					<key>name</key>
					<string>Depol</string>
				</dict>
			</array>
		</dict>
		<key>HSRL Calibrations</key>
		<dict>
			<key>name</key>
			<string>calvals</string>
			<key>datasets</key>
			<array>
				<string>i2scan</string>
				<string>afterpulse</string>
				<string>baseline</string>
				<string>geometry</string>
				<string>diff_geometry</string>
			</array>
			<key>thumbsets</key>
			<array/>
			<key>imagesets</key>
			<array/>
			<key>platformSensitive</key>
			<false/>
		</dict>
	</dict>
	<key>Datasets</key>
	<array>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/ahsrldata</string>
			<key>Name</key>
			<string>AHSRL</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/gvhsrldata</string>
			<key>Name</key>
			<string>GVHSRL</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/mf2hsrldata</string>
			<key>Name</key>
			<string>MF2HSRL</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/nshsrldata</string>
			<key>Name</key>
			<string>NSHSRL</string>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/bagohsrldata</string>
			<key>Name</key>
			<string>BagoHSRL</string>
		</dict>
	</array>
	<key>Sites</key>
	<array>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/ahsrldata</string>
			<key>Name</key>
			<string>Madison, WI (June 2003-Sept 2004, Nov 2004-Jul 2005)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2003-04-01T00:00:00Z</date>
					<key>End</key>
					<date>2004-09-11T00:00:00Z</date>
				</dict>
				<dict>
					<key>Start</key>
					<date>2004-11-18T00:00:00Z</date>
					<key>End</key>
					<date>2005-07-03T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>43.0707</real>
			<key>Longitude</key>
			<real>-89.4071</real>
			<key>Instruments</key>
			<array>
				<string>AHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/ahsrldata</string>
			<key>Name</key>
			<string>Barrow, AK - MPACE (Sep-Nov 2004)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2004-09-10T00:00:00Z</date>
					<key>End</key>
					<date>2004-11-19T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>71.31999999999999</real>
			<key>Longitude</key>
			<real>-156.615</real>
			<key>Instruments</key>
			<array>
				<string>AHSRL</string>
				<string>MMCR</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/ahsrldata</string>
			<key>Name</key>
			<string>Eureka, Nunavut, Canada - SEARCH (Jul 2005-2011)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2005-07-02T00:00:00Z</date>
					<key>End</key>
					<date>2011-08-01T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>79.9903</real>
			<key>Longitude</key>
			<real>-85.9389</real>
			<key>Instruments</key>
			<array>
				<string>AHSRL</string>
				<string>MMCR</string>
				<string>PAERI</string>
				<string>MWR</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/gvhsrldata</string>
			<key>Name</key>
			<string>Madison, WI (GVHSRL testing May 2008 - August 2010)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2008-05-25T00:00:00Z</date>
					<key>End</key>
					<date>2010-01-31T00:00:00Z</date>
				</dict>
				<dict>
					<key>Start</key>
					<date>2010-02-15T00:00:00Z</date>
					<key>End</key>
					<date>2010-08-18T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>43.0707</real>
			<key>Longitude</key>
			<real>-89.4071</real>
			<key>Instruments</key>
			<array>
				<string>GVHSRL</string>
				<string>RIG</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/gvhsrldata</string>
			<key>Name</key>
			<string>RAF Airborne Testing (Experimental) (GVHSRL February 2010)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2010-02-01T00:00:00Z</date>
					<key>End</key>
					<date>2010-02-14T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>40.0385</real>
			<key>Longitude</key>
			<real>-105.2404</real>
			<key>Instruments</key>
			<array>
				<string>GVHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/gvhsrldata</string>
			<key>Name</key>
			<string>Boulder, CO (GVHSRL: August 2010 - December 2011)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2010-08-22T00:00:00Z</date>
					<key>End</key>
					<date>2012-01-01T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>40.0385</real>
			<key>Longitude</key>
			<real>-105.2404</real>
			<key>Instruments</key>
			<array>
				<string>GVHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/mf2hsrldata</string>
			<key>Name</key>
			<string>Madison, WI (MF2HSRL (DOE/ARM#1): testing January 2011)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2010-11-18T00:00:00Z</date>
					<key>End</key>
					<date>2011-01-15T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>43.0707</real>
			<key>Longitude</key>
			<real>-89.4071</real>
			<key>Instruments</key>
			<array>
				<string>MF2HSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/mf2hsrldata</string>
			<key>Name</key>
			<string>Steamboat Springs, CO (MF2HSRL (DOE/ARM#1): January-May 2011)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2011-01-16T00:00:00Z</date>
					<key>End</key>
					<date>2011-05-01T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>40.4541</real>
			<key>Longitude</key>
			<real>-106.7730</real>
			<key>Instruments</key>
			<array>
				<string>MF2HSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/nshsrldata</string>
			<key>Name</key>
			<string>Madison, WI (NSHSRL (DOE/ARM#2): testing March 2011)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2011-03-01T00:00:00Z</date>
					<key>End</key>
					<date>2011-03-17T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>43.0707</real>
			<key>Longitude</key>
			<real>-89.4071</real>
			<key>Instruments</key>
			<array>
				<string>NSHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/nshsrldata</string>
			<key>Name</key>
			<string>Barrow, AK (NSHSRL (DOE/ARM#2): March 2011-present)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2011-03-17T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>71.323</real>
			<key>Longitude</key>
			<real>-146.615</real>
			<key>Instruments</key>
			<array>
				<string>NSHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/mf2hsrldata</string>
			<key>Name</key>
			<string>Gan, Maldives (MF2HSRL (DOE/ARM#1): October 2011-February 2012)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2011-10-01T00:00:00Z</date>
					<key>End</key>
					<date>2012-02-29T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>-0.68</real>
			<key>Longitude</key>
			<real>73.15</real>
			<key>Instruments</key>
			<array>
				<string>MF2HSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/ahsrldata</string>
			<key>Name</key>
			<string>Madison, WI (AHSRL: Oct 2011 - March 2012)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2011-09-01T00:00:00Z</date>
					<key>End</key>
					<date>2012-03-29T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>43.0707</real>
			<key>Longitude</key>
			<real>-89.4071</real>
			<key>Instruments</key>
			<array>
				<string>AHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/gvhsrldata</string>
			<key>Name</key>
			<string>Airborne - South America (GVHSRL January-February 2012)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2012-01-01T00:00:00Z</date>
					<key>End</key>
					<date>2012-02-29T23:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>40.0385</real>
			<key>Longitude</key>
			<real>-105.2404</real>
			<key>Instruments</key>
			<array>
				<string>GVHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/bagohsrldata</string>
			<key>Name</key>
			<string>Madison, WI Testing (BagoHSRL February 2012 - present)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2012-01-01T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>43.0707</real>
			<key>Longitude</key>
			<real>-89.4071</real>
			<key>Instruments</key>
			<array>
				<string>BagoHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/ahsrldata</string>
			<key>Name</key>
			<string>Norman, OK (AHSRL: April - July 2012)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2012-04-01T00:00:00Z</date>
					<key>End</key>
					<date>2012-07-12T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>35.23</real>
			<key>Longitude</key>
			<real>-97.47</real>
			<key>Instruments</key>
			<array>
				<string>AHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/gvhsrldata</string>
			<key>Name</key>
			<string>Boulder, CO (GVHSRL: April 2012 - present)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2012-04-01T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>40.0385</real>
			<key>Longitude</key>
			<real>-105.2404</real>
			<key>Instruments</key>
			<array>
				<string>GVHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/ahsrldata</string>
			<key>Name</key>
			<string>Singapore (AHSRL: August 2012 - Present)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2012-08-01T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>1.36</real>
			<key>Longitude</key>
			<real>103.98</real>
			<key>Instruments</key>
			<array>
				<string>AHSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
		<dict>
			<key>Path</key>
			<string>/arcueid/data/mf2hsrldata</string>
			<key>Name</key>
			<string>Madison, WI Testing (MF2HSRL August 2012 - present)</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2012-08-20T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>43.0707</real>
			<key>Longitude</key>
			<real>-89.4071</real>
			<key>Instruments</key>
			<array>
				<string>MF2HSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
