<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Instruments</key>
	<dict>
	    <key>MF2HSRL</key>
		<dict>
			<key>type</key>
			<string>HSRL</string>
			<key>datasets</key>
			<array>
				<string>lidar</string>
			</array>
			<key>imagesets</key>
			<array>
				<string>bscat_depol</string>
			</array>
			<key>thumbsets</key>
			<array>
				<dict>
					<key>prefix</key>
					<string>bscat</string>
					<key>name</key>
					<string>Backscatt</string>
				</dict>
				<dict>
					<key>prefix</key>
					<string>depol</string>
					<key>name</key>
					<string>Depol</string>
				</dict>
			</array>
		</dict>
		<key>Radiosonde</key>
		<dict>
			<key>name</key>
			<string>radiosonde</string>
			<key>datasets</key>
			<array>
				<string>radiosonde</string>
			</array>
			<key>thumbsets</key>
			<array/>
			<key>imagesets</key>
			<array/>
			<key>platformSensitive</key>
			<false/>
		</dict>
		<key>HSRL Calibrations</key>
		<dict>
			<key>name</key>
			<string>calvals</string>
			<key>datasets</key>
			<array>
				<string>i2scan</string>
				<string>afterpulse</string>
				<string>baseline</string>
				<string>geometry</string>
				<string>diff_geometry</string>
			</array>
			<key>thumbsets</key>
			<array/>
			<key>imagesets</key>
			<array/>
			<key>platformSensitive</key>
			<false/>
		</dict>
	</dict>
	<key>Datasets</key>
	<array>
		<dict>
			<key>Path</key>
			<string>/data</string>
			<key>Name</key>
			<string>MF2HSRL</string>
		</dict>
	</array>
	<key>Sites</key>
	<array>
		<dict>
			<key>Path</key>
			<string>/data</string>
			<key>Name</key>
			<string>Local MF2HSRL Data Storage</string>
			<key>Windows</key>
			<array>
				<dict>
					<key>Start</key>
					<date>2013-04-01T00:00:00Z</date>
				</dict>
			</array>
			<key>Latitude</key>
			<real>43.0707</real>
			<key>Longitude</key>
			<real>-89.4071</real>
			<key>Instruments</key>
			<array>
				<string>MF2HSRL</string>
				<string>Radiosonde</string>
				<string>HSRL Calibrations</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
